/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
        background-size: contain;
    }
}

// blink row
@-webkit-keyframes blink {
    50% {
        background: rgba(255, 0, 0, 0.5);
    }
}
@-moz-keyframes blink {
    50% {
        background: rgba(255, 0, 0, 0.5);
    }
}
@keyframes blink {
    50% {
        background: rgba(255, 0, 0, 0.5);
    }
}
.blink {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: linear;
    -moz-animation-direction: normal;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
}

@-webkit-keyframes blink2 {
    50% {
        background: #0c8d73;
    }
}
@-moz-keyframes blink2 {
    50% {
        background: #0c8d73;
    }
}
@keyframes blink2 {
    50% {
        background: #0c8d73;
    }
}
.blink2 {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink2;
    -webkit-animation-timing-function: linear;
    -moz-animation-direction: normal;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink2;
    -moz-animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: blink2;
    animation-timing-function: linear;
}

table {
    width: 100%;
}
//table tr:nth-child(odd) {
//    background: gray;
//}
.form-control {
    font-size: 0.8rem;
}
